doctype html
html
	head
		include ../head.pug
		link(rel="stylesheet" href="/css/user/mypage_side_menu.css")
		link(rel="stylesheet" href="/css/user/dieMySelf.css")
	body
		#wrap
			include ../header.pug
			#contents
				.wrap
					#myPage
						.left
							h3.title 마이페이지
							
							p.user_name #{session.user_name} 님
							
							.sideMenu
								.sideMenuItem
									p 쇼핑정보
									ul
										li
											a(href="/user/orderInfo") - 주문/배송조회
										li
											a(href="/user/basket") - 장바구니
								.sideMenuItem
									p 회원정보
									ul
										li
											a(href="/user/modify") - 회원정보수정
										li
											a(href="/user/dieMySelf") - 회원탈퇴

						.right
							#dieMySelf
								form#dieMySelfForm(action="/user/dieMySelf" method="delete")
									.row.w-75.mx-auto
										.col-lg-12
											.mb-3
												h3 회원탈퇴
											.mb-3
												span 회원탈퇴를 하시면 모든 정보가 삭제되며, 복구가 불가능합니다.
											.mb-3
												span 정말로 탈퇴하시겠습니까?
											.mb-3
												span 비밀번호를 입력해주세요.
											.mb-3
												input.form-control(type="password" name="user_pw" placeholder="비밀번호를 입력해주세요.")
											
											.row.justify-content-center
												.col-lg-auto
													.mb-3
														button.btn.btn-primary.cursor-pointer(type="submit") 탈퇴하기
												.col-lg-auto
													.mb-3
														button.btn.btn-secondary.cursor-pointer(type="button" onclick="location.href='/user/modify'") 취소

			include ../footer.pug
		include ../script.pug
		script.
			$(document).ready(function() {
				$("#dieMySelfForm").submit(function(e) {
					e.preventDefault();

					if($("input[name='user_pw']").val() == "") {
						alert("비밀번호를 입력해주세요.");
						$("input[name='user_pw']").focus();
						return false;
					}

					if(!confirm("정말로 탈퇴하시겠습니까?")) {
						return false;
					}

					$.ajax({
						url: "/user/dieMySelf",
						type: "delete",
						data: {
							user_pw: $("input[name='user_pw']").val()
						},
						success: function(data) {
							if(data.message){
								alert(data.message);
							}

							if(data.success) {
								location.href = "/";
							}

							if(data.password_invalid){
								$("input[name='user_pw']").focus();
							}
						}
					});
				});
			});