// Sidebar
ul.sidebar.navbar-nav
    li.nav-item
        a.nav-link(href='/admin/dashboard')
            i.fas.fa-fw.fa-tachometer-alt
            span  대시보드
    li.nav-item
        a.nav-link(href='/admin/user')
            i.fas.fa-fw.fa-users
            span  회원목록
    li.nav-item
        a.nav-link(href='/admin/product')
            i.fas.fa-fw.fa-box
            span  상품관리
    li.nav-item
        a.nav-link(href='/admin/order')
            i.fas.fa-fw.fa-shipping-fast
            span  주문관리