title Oh! 바이크
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
link(href='/dashboard/vendor/fontawesome-free/css/all.min.css', rel='stylesheet', type='text/css')
link(href='/dashboard/vendor/datatables/dataTables.bootstrap4.css', rel='stylesheet')
link(href='/dashboard/css/sb-admin.css', rel='stylesheet')
link(rel='stylesheet', href='/jquery/jquery-ui/jquery-ui.css')