// Bootstrap core JavaScript
script(src='/dashboard/vendor/jquery/jquery.js')
script(src="/jquery/jquery-ui/jquery-ui.js")
script(src='/dashboard/vendor/bootstrap/js/bootstrap.bundle.js')

// Core plugin JavaScript
script(src='/dashboard/vendor/jquery-easing/jquery.easing.js')

// Page level plugin JavaScript
script(src='/dashboard/vendor/chart.js/Chart.js')
script(src='/dashboard/vendor/datatables/jquery.dataTables.js')
script(src='/dashboard/vendor/datatables/dataTables.bootstrap4.js')

// CKEditor
script(src="/dashboard/js/ckeditor.js")

// Custom scripts for all pages
script(src='/dashboard/js/sb-admin.js')

script(src="/js/script.js")

script.
	$(function(){
		menuHighlight();
	});

	function menuHighlight(){
		currentMenu = $.trim($("li.breadcrumb-item.active").text());
		
		$("ul.sidebar.navbar-nav li").removeClass("active");

		$("ul.sidebar.navbar-nav li").each(function(key, el){
			menuText = $.trim($(el).text());

			if(currentMenu == menuText){
				$(el).addClass("active");
			}
		});
	}