nav.navbar.navbar-expand.navbar-dark.bg-dark.static-top
    a.navbar-brand.mr-1(href='/') Oh! 바이크
    button#sidebarToggle.btn.btn-link.btn-sm.text-white.order-1.order-sm-0(href='#')
        i.fas.fa-bars