footer#footer
	.footerBg
		.wrap
			.footerTop
				.footerLogo
					a(href="/", title="HOME")
						img(src="/images/logo.png", alt="LOGO" title="LOGO")

				ul.footerMenu
					li
						a(href="#") 회사소개
					li
						a(href="#") 이용약관
					li
						a(href="#") 개인정보처리방침
					li
						a(href="#") 이용안내
			.footerBottom
				ul.address
					li
						span 법인명(상호), Oh! 바이크
						span 대표자(성명) : 오땡땡
					li
						span 사업자 등록번호 : 111-11-11111
						span 통신판매업 신고 : 제2019-인천-00001호
					li
						span 주소 : 인천광역시 어쩌구 저쩌로 365 Oh! 바이크
					li
						span 전화 : 1544-흥해흥해
						span 팩스 : 032-1234-1234
						span 개인정보보호책임자 : 아무나
					li
						span 호스팅제공 (주)헌호스팅
	#copyright
		.wrap
			p COPYRIGHT &copy; Oh! Bike ALL RIGHTS RESERVED.